/* -------------------------------------------- */

/* #region nav-bar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}

/* #region nav-bar-top */

.nav-bar-top {
    background-color: #008ecc;
    height: 72px;
}

.flex-nav-top {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.menu-icon {
    /* display: inline-block;
    position: absolute; */
}

.line {
    width: 28px;
    height: 2.5px;
    background-color: #fff;
    margin: 7px 0;
}

.main-logo img {
    height: 72px;
}

.search-bar input {
    background-color: #fff;
    height: 40px;
    width: 48vw;
    border-radius: 8px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-weight: 600;
    color: #1e1e22;
}

.login-signup,
.cart {
    display: flex;
    justify-content: space-between;
}

.login-signup a,
.cart a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
}

/* #endregion nav-bar-top */

/* #region nav-bar-bottom */

.nav-bar-bottom {
    background-color: #ececed;
    height: 40px;
}

.flex-nav-bottom {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-bar-location {
    width: 8%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.nav-bar-location p {
    color: #313136;
}

.nav-bar-options {
    width: 88%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.nav-bar-options a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.upArrow::after {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    border: 1px solid #313136;
    border-width: 1px 1px 0 0;
    transition: transform 0.2s;
    transform: rotate(135deg);
    margin-left: 10px;
    margin-bottom: 5px;
}

.upArrow:hover::after {
    transform: rotate(-45deg);
    margin-bottom: 2px;
}

/* #endregion nav-bar-bottom */

/* #endregion nav-bar */


/* -------------------------------------------- */