@media screen and (max-width: 1200px){

}
@media screen and (max-width:768px) {
  .nav-bar-bottom{
    display: none;
  }
  .main-logo img{
    display: none;
  }
  .menu-icon{
    margin-right: 8%;
    margin-top: 0.8rem;
  }
  .login-signup>div{
    display: none;
  }
  .cart>div{
    display: none;
  }
  .search-bar input{
    margin-top: 0.8rem;
    width: 0.8rem;
  }
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  margin-top: 130px;
}

.carousel {
  background: #eee;
}

.carousel-cells {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 0px 60px;
}

.carousel-cells > img {
  width: 50%;
}

.top-image {
  width: 98%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}
.top-image > a:first-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .carousel img {
    height: 300px;
  }
}

.main-slider {
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}

.main-slider > h1 {
  margin: 0;
  margin-left: 40px;
  padding: 8px 16px 0px 0px;
  font-size: 20px;
  color: #000;
  font-weight: bolder;
  font-family: JioBold;
}

.main-slider > span {
  position: absolute;
  top: 29%;
  font-size: 60px;
  opacity: 0.35;
  color: gray;
  cursor: pointer;
  left: 0.5%;
  z-index: 1;
}

.main-slider > span:nth-of-type(2) {
  left: 98%;
  text-align: right;
}

.child-slider {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: left;
  overflow-x: auto;
  padding: 12px 0px;
}

.child-slider::-webkit-scrollbar {
  visibility: hidden;
}

.child-slider > div {
  position: relative;
  left: 0;
  min-width: 200px;
  transition: 0.5s;
}

.child-slider > div:hover {
  transform: scale(1.1);
  z-index: 2;
}

.child-slider > div > a > img {
  width: 93%;
}

/* --------------------------------------products slider start------------------------------ */
.products-card {
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}

.products-card > h1 {
  margin: 0;
  margin-left: 40px;
  padding: 16px 16px 0px 0px;
  font-size: 20px;
  color: #000;
  font-weight: bolder;
  font-family: JioBold;
}

.products-card > span {
  position: absolute;
  top: 32%;
  font-size: 60px;
  opacity: 0.35;
  color: gray;
  cursor: pointer;
  left: 0.5%;
  z-index: 1;
}

.products-card > span:nth-of-type(2) {
  left: 98%;
  text-align: right;
}

.child-cards {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: left;
  overflow-x: auto;
  padding: 12px 0px;
  gap: 10px;
}

.child-cards::-webkit-scrollbar {
  visibility: hidden;
}

.childcards-cards > div {
  position: relative;
  left: 0;
  min-width: 180px;
  line-height: 1.3;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px;
  transition: 0.5s;
}
.prod-img > img:hover {
  transform: scale(1.1);
  z-index: 2;
  transition: 0.5s;
}

.prod-img {
  text-align: center;
}

.prod-disc > span:first-child {
  font-family: JioBold;
  text-align: left;
  color: #000;
  display: block;
  max-height: 32px;
  margin: 0 0 30px;
  min-height: 32px;
}

.pro-price {
  font-weight: bold;
}

.prod-disc > span:last-child {
  color: rgb(0, 161, 0);
}

.add-cart {
  width: 100%;
  margin-top: 10px;
  padding: 7px 0px;
  font-weight: bold;
  background-color: rgb(0, 142, 204);
  color: white;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
}
.add-cart > span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}
/* --------------------------------------products slider end------------------------------ */
.cleaner {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 0px 60px;
  margin-top: 30px;
}

.cleaner > a > img {
  width: 100%;
}
#Personal_care {
  margin-top: 40px;
}
#home-living{                               
  margin-top: 40px;
}

/* -------------------------------------------------images------------------------------------ */
.big-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  gap: 20px;
  width: 98%;
  margin: 50px auto;
}
.big-images > div > a > img {
  width: 100%;
}
/* -------------------------------------------- */

/* #region nav-bar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

/* #region nav-bar-top */

.nav-bar-top {
  background-color: #008ecc;
  height: 72px;
}

.flex-nav-top {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.menu-icon {
  /* display: inline-block;
    position: absolute; */
}

.line {
  width: 28px;
  height: 2.5px;
  background-color: #fff;
  margin: 7px 0;
}

.main-logo img {
  height: 72px;
}

.search-bar input {
  background-color: #fff;
  height: 40px;
  width: 48vw;
  border-radius: 8px;
  padding: 0 20px;
  border: none;
  outline: none;
  font-weight: 600;
  color: #1e1e22;
}

.login-signup,
.cart {
  display: flex;
  justify-content: space-between;
}

.login-signup a,
.cart a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  margin-left: 5px;
}

/* #endregion nav-bar-top */

/* #region nav-bar-bottom */

.nav-bar-bottom {
  background-color: #ececed;
  height: 40px;
}

.flex-nav-bottom {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav-bar-location {
  width: 8%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

.nav-bar-location p {
  color: #313136;
}

.nav-bar-options {
  width: 88%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

.nav-bar-options a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.upArrow::after {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  border: 1px solid #313136;
  border-width: 1px 1px 0 0;
  transition: transform 0.2s;
  transform: rotate(135deg);
  margin-left: 10px;
  margin-bottom: 5px;
}

.upArrow:hover::after {
  transform: rotate(-45deg);
  margin-bottom: 2px;
}

.Grocery {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: #ececed;
  top: 6.8rem;
  left: 18rem;
  z-index: 1000;
  display: none;
}

.Fruits {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: #ececed;
  top: 6.8rem;
  left: 25rem;
  z-index: 1000;
  display: none;
}

.Home {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: #ececed;
  top: 6.8rem;
  left: 34rem;
  z-index: 1000;
  display: none;
}

.Fashion {
  position: fixed;
  background: #ececed;
  top: 6.8rem;
  left: 43rem;
  z-index: 1000;
  display: none;
}

.Electronics {
  position: fixed;
  background: #ececed;
  top: 6.8rem;
  left: 50rem;
  z-index: 1000;
  display: none;
}

.Beauty {
  position: fixed;
  background: #ececed;
  top: 6.8rem;
  left: 57rem;
  z-index: 1000;
  display: none;
}

.HomeImp {
  position: fixed;
  background: #ececed;
  top: 6.8rem;
  left: 63rem;
  z-index: 1000;
  display: none;
}

.Sports {
  position: fixed;
  background: #ececed;
  top: 6.8rem;
  left: 74rem;
  z-index: 1000;
  display: none;
}

.subOptions {
  margin-top: -10px;
}

.dropdown-content {
  padding-top: 10px;
  line-height: 2rem;
  font-size: 15px;
  text-align: left;
}

.dropdown-content p {
  padding: 0 30px 10px 15px;
}

.dropdown-content p:hover {
  background-color: #fff;
  color: #008ecc;
}

/* #endregion nav-bar */

/* #region hamburger menu*/

.sidenav {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1000;
}

#sidenav_home > a {
  padding: 20px 8px 8px 20px;
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.3s;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 70px;
  color: white;
  margin-top: 10px;
}

.myacc {
  background-color: #008ecc;
  height: 100px;
}

#hello_button {
  display: flex;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: white;
  margin-left: 10px;
}

#hello_icon {
  font-size: 25px;
  margin-top: 18px;
  margin-left: 5px;
}

#hello_text {
  font-size: 15px;
  margin: 22px 0 8px 15px;
}

#user-img {
  margin-top: 20px;
  margin-right: -8px;
}

#account {
  display: flex;
}

.accdiv {
  border: 1px solid white;
  width: 150px;
  height: 35px;
  color: white;
  text-align: center;
  margin-left: 7px;
  padding-top: 7px;
  font-weight: bold;
  margin-top: 10px;
}

#order_box {
  margin-left: 5px;
}

.sideLine {
  height: 5px;
  width: 100%;
  background-color: #ececed;
  margin-top: 6px;
}

#sidenav_home {
  overflow: scroll;
  height: 600px;
  top: 0;
  left: 0;
  background-color: white;
}

#sidenav_home > h4,
#sidenav_home p {
  font-size: 13px;
  padding: 10px 0px 0px 20px;
  margin-right: 20px;
}

#sidenav_home > h4 {
  font-size: 15px;
}

#nav-playstore {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}

/* #endregion menu */

/* #region footer */

footer {
  background-color: #ebebf8;
  margin-top: 21px;
}

.main-page-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 100px 30px;
}

.main-page-footer p,
.main-page-footer a {
  font-size: 13px;
  font-family: sans-serif;
}

#main-page-footer-div1,
#main-page-footer-div2 {
  line-height: 23px;
}

#main-page-footer-div3 {
  border-left: 1px solid rgb(189, 184, 184);

  padding-left: 29px;
}

#main-page-footer-div3 a {
  color: #09a2e4;
}

#main-page-footer-div1 a,
#main-page-footer-div2 a,
#main-page-footer-div3 p {
  color: gray;
}

h3 {
  text-decoration: none;
  font-family: sans-serif;
}

.main-page-footer > div {
  box-sizing: border-box;
}

#main-page-footer-div1 ul,
#main-page-footer-div2 ul {
  list-style: none;
}

#main-page-footer-div3 a,
#main-page-footer-div1 a,
#main-page-footer-div2 a {
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#last-line {
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
  border-top: 1px solid rgb(189, 184, 184);
}

.search-items {
  position: fixed;
  background: white;
  top: 4.48rem;
  left: 24.3rem;
  z-index: 1000;
  display: none;
  width: 45.8%;
}
:root {
  --color-success: #07c988;
}
.span {
  color: var(--color-success);
  font-weight: bold;
}

/* #endregion footer */

/* -------------------------------------------- */
